.search-result,
.search {
    width: 360px;
}

.search {
    height: 46px;
    background-color: rgba(22, 24, 35, 0.06);
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0 0 0 14px;
    position: relative;
    border-radius: 92px;
    border: 1px solid transparent;

    &::after {
        content: '';
        height: 60%;
        width: 1px;
        background-color: #737376;
        position: absolute;
        right: var(--width-button-search);
    }

    &:focus-within {
        border: 1px solid rgba(22, 24, 35, 0.4);
    }

    .input {
        outline: none;
        border: none;
        flex: 1;
        background-color: transparent;
        font-size: 1.5rem;
        color: rgba(22, 24, 35, 1);
        caret-color: var(--primary-color);
    }

    .input:not(:placeholder-shown) ~ .btn {
        color: rgba(22, 24, 35, 0.75);
    }

    .close,
    .loading {
        font-size: 1.5rem;
        color: #737376 !important;
        padding: 0 12px;
    }

    .loading {
    }

    .btn {
        width: var(--width-button-search);
        height: 100%;
        border-top-right-radius: 92px;
        border-bottom-right-radius: 92px;
        font-size: 1.7rem;
        color: #a2a2a7;
        cursor: pointer;

        &:active {
            background-color: rgba(22, 24, 35, 0.05);
        }
    }
}

.search-title {
    font-size: 1.4rem;
    color: rgba(22, 24, 35, 0.5);
    padding: 5px 12px;
    font-weight: 600;
}
