@import '../../../GlobalStyle/GlobalStyle.scss';

.wrapper {
    width: 100%;
    height: 60px;
    box-shadow: rgb(0 0 0 / 12%) 0px 1px 1px;
    display: flex;
    justify-content: center;
}

.inner {
    height: 100%;
    width: 1150px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 var(--default-layout-horizontal-spacer);
}

// Action
.actions {
    display: flex;
    align-items: center;
    justify-content: center;
}

.more-btn {
    font-size: 2rem;
    padding: 12px;
    margin-left: 6px;
    background-color: transparent;
    outline: none;
    border: none;
    cursor: pointer;
}

.action-btn {
    outline: none;
    border: none;
    font-size: 2.2rem;
    background-color: transparent;
    margin-left: 12px;
    padding: 4px 8px;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
}

.user-avatar {
    width: 32px;
    height: 32px;
    object-fit: cover;
    clip-path: circle();
    margin-left: 12px;
    cursor: pointer;
}
