@import '../../../GlobalStyle/GlobalStyle.scss';

.wrapper {
    width: 100%;
    height: 60px;
    box-shadow: rgb(0 0 0 / 12%) 0px 1px 1px;
    display: flex;
    justify-content: center;
}

.inner {
    height: 100%;
    width: 1150px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 var(--default-layout-horizontal-spacer);
}

.search-result,
.search {
    width: 360px;
}

.search {
    height: 46px;
    background-color: rgba(22, 24, 35, 0.06);
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0 0 0 12px;
    position: relative;
    border-radius: 92px;
    border: 1px solid transparent;

    &::after {
        content: '';
        height: 60%;
        width: 1px;
        background-color: #737376;
        position: absolute;
        right: var(--width-button-search);
    }

    &:focus-within {
        border: 1px solid rgba(22, 24, 35, 0.4);
    }

    .input {
        flex: 1;
        @include button(transparent, 'none');
        background-color: transparent;
        font-size: 1.6rem;
        color: rgba(22, 24, 35, 1);
        caret-color: var(--primary-color);
    }

    .input:not(:placeholder-shown) ~ .btn {
        color: rgba(22, 24, 35, 0.75);
    }

    .close,
    .loading {
        @include button(transparent, 'none');
        font-size: 1.5rem;
        color: #737376 !important;
        padding: 0 12px;
    }
    .close {
        display: none;
    }

    .loading {
    }

    .btn {
        @include button(transparent);
        width: var(--width-button-search);
        height: 46px;
        border-top-right-radius: 92px;
        border-bottom-right-radius: 92px;
        font-size: 1.7rem;
        color: #a2a2a7;
        cursor: pointer;

        &:active {
            background-color: rgba(22, 24, 35, 0.05);
        }
    }
}

.search-title {
    font-size: 1.4rem;
    color: rgba(22, 24, 35, 0.5);
    padding: 5px 12px;
    font-weight: 600;
}

// Action
.actions {
    display: flex;
    align-items: center;
    justify-content: center;
}

.more-btn {
    font-size: 2rem;
    padding: 12px;
    margin-left: 6px;
    background-color: transparent;
    outline: none;
    border: none;
    cursor: pointer;
}

.action-btn {
    outline: none;
    border: none;
    font-size: 2.2rem;
    background-color: transparent;
    margin-left: 12px;
    padding: 4px 8px;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
}

.user-avatar {
    width: 32px;
    height: 32px;
    object-fit: cover;
    clip-path: circle();
    margin-left: 12px;
    cursor: pointer;
}
