@import 'normalize.css';

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

:root {
    --primary-color: rgba(254, 44, 85, 1);

    --width-button-search: 52px;
    --default-layout-horizontal-spacer: 24px;
}

html {
    font-size: 62.5%;
}

body {
    font-size: 1.6rem;
    line-height: 1.5;
    text-rendering: optimizeSpeed;
    font-family: 'ProximaNova', sans-serif;
}

@font-face {
    font-family: ProximaNova;
    src: url('../../asset/font/Proxima-Nova-Regular.woff2');
    font-weight: 400;
}

@font-face {
    font-family: ProximaNova;
    src: url('../../asset/font/Proxima-Nova-Semibold.woff2');
    font-weight: 600;
}

@font-face {
    font-family: ProximaNova;
    src: url('../../asset/font/Proxima-Nova-Bold.woff');
    font-weight: 700;
}

@font-face {
    font-family: SofiaPro;
    src: url('../../asset/font/sofiapro-bold.woff');
    font-weight: 700;
}

@mixin button($bgColor: red, $border: 'none') {
    @if ($border == 'none') {
        border: none;
        outline: none;
        background-color: $bgColor;
    }
}

a {
    display: block;
    text-decoration: none;
    color: black;
}

body {
    .tippy-box {
        border-radius: 8px;
        font-weight: 500;
        font-size: 1.4rem;
        line-height: 22px;
        background-color: rgba(84, 84, 84, 0.92);
    }

    .tippy-arrow {
        color: rgba(84, 84, 84, 0.92);
    }

    .tippy-content {
        padding: 8px;
    }
}

button {
    outline: none;
    border: none;
}
